.custom-button {
  background-color: #10b981;
  border-color: #10b981;
  color: white;
}
.card-animation:hover {
  scale: 102%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.goBack:hover {
  scale: 110%;
}
.custom-nav-font{
  font-weight: bold;
}

.edit-animation:hover {
  scale: 130%;
}
.green-on-hover{
  color: #10b981;
  border: 0;
}
.green-on-hover:hover {
  color: #0b885e !important;
  scale: 110%;
  border: 0;
}

.custom-swal-buttons .swal2-actions {
  justify-content: space-between; /* Esto separará los botones */
}
.custom-swal-buttons .swal2-confirm, .custom-swal-buttons .swal2-cancel {
  width: auto; /* Esto permitirá que los botones ocupen su ancho natural */
}
.card-title{
  font-size: 18px;
}
.card-description{
  font-size: 14px;
}

.speciality-font{
  color: #848689;
}

.area-indicator{
  font-size: 14px;
  color: #a2a4a8;
  font-weight: bold;
}
.area-description-title{
  font-size: 14px;
  font-weight: bold;
}

.title-views{
  font-weight: bold;
}


.custom-placeholder::placeholder {
  font-size: 14px;
  color: #a2a4a8 !important;
  font-weight: bold;
}

.not-registers-font{
  font-size: 30px;
  color: #a2a4a8;
  font-weight: bold;
}