.custom-button {
  background-color: #10b981;
  border-color: #10b981;
  color: white;
}
.card-animation:hover {
  scale: 102%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.custom-nav-font{
  font-weight: bold;
}


.custom-swal-buttons .swal2-actions {
  justify-content: space-between; /* Esto separará los botones */
}
.custom-swal-buttons .swal2-confirm, .custom-swal-buttons .swal2-cancel {
  width: auto; /* Esto permitirá que los botones ocupen su ancho natural */
}